::-webkit-input-placeholder {
	color: #555;
}
::-moz-input-placeholder {
	color: #555;
}
::-o-input-placeholder {
	color: #555;
}
::-webkit-input-placeholder {
	color: #555;
}
.navbar-changes {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.salefilter{
	cursor: pointer !important;
    background: #f78d5b !important;
    padding: 0 5px !important;
    color: #fff !important;
    border-radius: 3px;
}
.filtercolr {
	color: #f60 !important;
}
.fileinput-button {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #eee url(../img/upload.png) 4px center no-repeat;
	color: #525252;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 24px;
	display: block;
	position: relative;
}
.fileinput-button input {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)'; 
    cursor: pointer; 
}
.chioce_time {
    width: 48%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 12px;
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
}

/* 自定义列 */
.reveal-modal-bg {   
  position: fixed;   
  height: 100%;  
  width: 100%;  
  background: #000;  
  background: rgba(0,0,0,.8);  
  z-index: 100;  
  display: none;  
  top: 0;  
  left: 0;   
}  
   
#row-def{  
  display: none;
  top: 20%;   
  left: 50%;  
  margin-left: -300px;  
  width: 520px;  
  height:450px;  
  position: absolute;  
  z-index: 101;  
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  background-color:white; 
  webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);                  
}  
   
.row-def_title{  
  position:relative;  
  width:100%;  
  height:30px;  
  padding:10px;  
}  
 
.title_name{  
  font-family:Microsoft YaHei;  
  font-size:20px;  
  font-weight:700;  
}  
 
.contain{  
  position:relative;  
  width:100%;  
  height:300px;  
  padding:10px 7%;  
  padding-bottom:5px;  
}  
   
.showHideTit {
	line-height: 32px;
	padding-left:65px;
}
.showHideTit span{
	float: right;
	padding-right: 140px;
}
.option_frame{  
  float:left;  
  width:35%;  
  height:300px;      
}  
   
.button_frame1{  
  float:left;  
  width:15%;  
  padding:2%;  
  height:250px;  
}  
.button_frame1 .button {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #337ab7;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 1px auto;
    font-size: 18px;
}
.footer{  
  width:100%;  
  height:30px;  
  padding:0px 7%;  
}
.confirm_button{  
  color: #fff;   
  background: #ff5706;  
  width:100%;  
  height:32px;  
  border:0;  
  -moz-border-radius:3px;  
  -webkit-border-radius:3px;  
  border-radius:3px;
  margin-top: 15px;  
} 
select[multiple], select[size] {   
    height: 100%;
}
#resourceTable table a:hover {
	color: #23527c;
}