<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
        <!-- 定时  -->
        <bean id="nextVisitMessageJob" class="com.hjcrm.publics.task.NextVisitMessageJob"></bean>
        
        <bean id="nextVisitMessageTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <property name="targetObject">
                <ref bean="nextVisitMessageJob"/>
            </property>
            <property name="targetMethod">
                <value>nextVisitMessage</value>
            </property>
        </bean>
        <bean id="nextVisitMessageJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
            <property name="jobDetail">
                <ref bean="nextVisitMessageTask"/>
            </property>
            <property name="cronExpression">
                <value>0/1 * * * * ?</value>
            </property>
        </bean>
        
        
          <!-- 定时  -->
        <bean id="nextVisitMessageJob1" class="com.hjcrm.publics.task.NextVisitMessageJob1"></bean>
        
        <bean id="nextVisitMessageTask1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <property name="targetObject">
                <ref bean="nextVisitMessageJob1"/>
            </property>
            <property name="targetMethod">
                <value>demo09Job</value>
            </property>
            
        </bean>
        <bean id="nextVisitMessageJobTrigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
            <property name="jobDetail">
                <ref bean="nextVisitMessageTask1"/>
            </property>
            <property name="cronExpression">
                <value>0/1 * * * * ?</value>
            </property>
        </bean>
        
        
        
        <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
        <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
            <property name="triggers">
                <list>
                    <!-- <ref bean="nextVisitMessageJobTrigger"/>  -->
                     <ref bean="nextVisitMessageJobTrigger1"/> 
                </list>
            </property>
        </bean>
<!-- 
关于cronExpression的介绍:
s m h d m w(?) y(?) ,分别对应: 秒>分>小时>日>月>周>年
字段 允许值 允许的特殊字符
秒 	  	0-59 	  	, - * /
分 	  	0-59 	  	, - * /
小时 	  	0-23 	  	, - * /
日期 	  	1-31 	  	, - * ? / L W C
月份 	  	1-12 或者 JAN-DEC 	  	, - * /
星期 	  	1-7 或者 SUN-SAT 	  	, - * ? / L C #
年（可选） 	  	留空, 1970-2099 	  	, - * /

表达式
 意义
"0 0/1 * * * ?"     每1分钟触发
"0 0 12 * * ?" 	  	每天中午12点触发
"0 15 10 ? * *" 	  	每天上午10:15触发
"0 15 10 * * ?" 	  	每天上午10:15触发
"0 15 10 * * ? *" 	  	每天上午10:15触发
"0 15 10 * * ? 2005" 	  	2005年的每天上午10:15触发
"0 * 14 * * ?" 	  	在每天下午2点到下午2:59期间的每1分钟触发
"0 0/5 14 * * ?" 	  	在每天下午2点到下午2:55期间的每5分钟触发
"0 0/5 14,18 * * ?" 	  	在每天下午2点到2:55期间和下午6点到6:55期间的每5分钟触发
"0 0-5 14 * * ?" 	  	在每天下午2点到下午2:05期间的每1分钟触发
"0 10,44 14 ? 3 WED" 	  	每年三月的星期三的下午2:10和2:44触发
"0 15 10 ? * MON-FRI" 	  	周一至周五的上午10:15触发
"0 15 10 15 * ?" 	  	每月15日上午10:15触发
"0 15 10 L * ?" 	  	每月最后一日的上午10:15触发
"0 15 10 ? * 6L" 	  	每月的最后一个星期五上午10:15触发 
"0 15 10 ? * 6L 2002-2005" 	  	2002年至2005年的每月的最后一个星期五上午10:15触发
"0 15 10 ? * 6#3" 	  	每月的第三个星期五上午10:15触发
每天早上6点

0 6 * * * 

每两个小时

0 */2 * * *
晚上11点到早上8点之间每两个小时，早上八点

0 23-7/2，8 * * *

每个月的4号和每个礼拜的礼拜一到礼拜三的早上11点

0 11 4 * 1-3
1月1日早上4点

0 4 1 1 *
 -->
</beans>
